
@{
    ViewBag.Title = "date4";
    var user = ViewBag.Users;
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/global.css" rel="stylesheet" />

<h2>接种信息</h2>
<hr />
<label> 请管理人员拨打电话通知其尽快接种新冠疫苗</label>
<table class="table" style="width:40%">
    <tr>
        <td><b>id</b></td>
        <td>@user.UserID</td>
    </tr>
    <tr>
        <td><b>电话号码</b></td>
        <td>@user.UserPhone</td>
    </tr>
    <tr>
        <td><b>姓名</b></td>
        <td>@user.UserName</td>
    </tr>
    <tr>
        <td><b>地址</b></td>
        <td>@user.UserAddress</td>
    </tr>
</table>
<a href="/User/date2" class="btn btn-primary">返回</a>