
@{ ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml";
                string email = @"/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/"; }

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/global.css" rel="stylesheet" />
<h2>登记信息</h2>
<hr />
@using (Html.BeginForm())
{
<div class="form-group">
    <div class="col-md-10">
        <label class="control-label " for="UserName">您所在的地区:@ViewBag.address</label>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="UserName">请选择医院</label>
    <div class="col-md-10">
        <select name="Hospital">
           @foreach (var item in ViewBag.Hospital as List<HXWeb.Models.Hospital>)
           {
               <option value="@item.ID">@item.HospitalName</option>
           }
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="UserName">请选择预约时间</label>
    <div class="col-md-10">
        <input type="date" name="Date" class = "form-control text-box  single-line"placeholder = "请输入时间"/>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value=" 保存 " class="btn btn-primary" />
    </div>
</div>}